@{
    ViewData["Title"] = "Icon menu";
}

<div class="text-center">
    <div>
        <img class="icon" src="~/man.png"/>
    </div>
    <div class="text-center">
        <button class="icon-menu-btn" onclick="window.location.href='index.html'">
            use camera
        </button>
        <button class="icon-menu-btn" onclick="window.location.href='index.html'">
            from file
        </button>
        <button class="icon-menu-btn" onclick="window.location.href='index.html'">
            default
        </button>
        <button class="icon-menu-btn" onclick="window.location.href='index.html'">
            go back
        </button>
    </div>
</div>
